@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, #041308, #0b3317);
    gap: 20px;

}

.heading {
    flex-basis: 30%;
}

.heading-text {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.subheading-text {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.grid-container{
    flex-basis: 50%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}

.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #222;
    background-blend-mode: screen;
    transition:all 1s ease-in-out;
    
}

.box:hover{
box-shadow:0 0 4px white ;
    background-position: center;
    border-radius: 2px;
}

/* utlity */

.row-2{
grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}